
<div class="about-container row">
    <div class="calificacion-container col-3" >
        <img class="faceImg img-fluid" src="{{face}}" alt="imagen de perfil" width="250">
        <h1 class="name text-center">{{nombre}}</h1>
        <p class="calificacion text-center">
            Desarrollador BackEnd
        </p>
    </div>
    <div class="text-about col-9">
        <h3 class="seccion-titulo">Sobre Mi</h3>
        <p class="about-descripcion text-jutify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa autem est corrupti. Vero, magni? 
            Nisi dolorum modi nobis doloremque ad sint, molestias provident totam dolores! Labore quos aliquid quae accusamus?
        </p>
    </div>
</div>