.about-container {
    margin: 0 50px;
    position: relative;
    padding-top: 5%;

    .calificacion-container {
        .faceImg {
            border-radius: 50%;
            width: 10%;
            position: absolute;
            top: -5vw;
            left: 7%;
        }
         h1{
            text-shadow: 3px 3px 5px #fff;
        }
        .name{
            font-size: 2rem;
            
        }
        .calificacion {
            font-size: 1.5rem;
        }
    }

    .text-about {
        h3.seccion-titulo {
            font-size: 2.5rem;
        }
        .about-descripcion {
            font-size: 1.25rem;
        }
    }
}